.noUnderline {
  text-decoration: none;
  color: black;
}

.orangeBtn {
  background-color: #F28C28;
  color: white;
}

:host ::ng-deep .p-menubar { 
  border: 1px #F28C28; 
  border-style: solid; 
  border-radius: 20px; 
  box-shadow: 0px 4px 6px 0px #F28C28; 
}
